{% extends "base.html" %}
{% load crispy_forms_tags %}

<div class="row-fluid">
{% block content %}
<div class="col-md-12">
	<table class="col-md-12" style="width:100%; border-collapse: separate; border-spacing: 0 5px;">
		<tr>
			<th><h3><b>Name</b></h3></th>
			<th><h3><b>Group</b></h3></th>
			<th><h3><b>Actions</b></h3></th>
		</tr>
		<tr>
		</tr>
		{% for catalogue in catalogues.object_list %}
		<tr>
			<td><b>{{ catalogue.name }}</b></td><td>{{ catalogue.group }}</td><td><a href="{% url 'list_doc' %}?catalogueID={{ catalogue.id }}" class="btn btn-success" type="button">Documents</a>&nbsp;<a href="{% url 'add_cat' %}?catalogueID={{ catalogue.id }}" class="btn btn-primary" type="button">Edit</a>&nbsp;<button class="btn btn-danger" type="button" onclick="confirmCatDeletion('{% url 'del_cat' %}?catalogueID={{ catalogue.id }}')">Delete</button></td>
		</tr>
		{% endfor %}
	</table>
<nav>
<ul class="pagination">
	{% if catalogues.has_previous %}
              <li><a href="?page={{ catalogues.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for pg in catalogues.paginator.page_range %}
              {% if catalogues.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if catalogues.has_next %}
              <li><a href="?page={{ catalogues.next_page_number }}">Next</a></li>
          {% endif %}
</ul>
</nav>
{% endblock %}
{% block jumbotron %}
        <div class="jumbotron col-md-12">
                <h1><b>{{ title }}</b></h1>
                <h3>{{ title_content1 }}</h3>
                <hr>
                <p><i>{{ title_content2 }}</i></p>
        </div>
{% endblock %}
</div>
